<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="../../assets/register_background.webp" class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="login" (ngSubmit)="loginSubmited()">

          <h2>Login Here</h2><br>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example3">Email address:</label>
            <input type="email" class="form-control form-control-lg" placeholder="Enter a valid email address"
              formControlName="email" />
            <small *ngIf="login.get('email')?.invalid && login.get('email')?.touched" class="text-danger">Valid Email is
              Required</small>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="form3Example4">Password:</label>
            <input type="password" id="form3Example4" class="form-control form-control-lg" placeholder="Enter password"
              formControlName="password" />
            <small *ngIf="login.get('password')?.invalid && login.get('password')?.touched" class="text-danger">Password
              is Required</small>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button [disabled]="login.invalid" type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;" >Submit</button>&nbsp;
              <span *ngIf="status==0" class="text-danger">{{message}}</span>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account?
              <a (click)="registerRoute()" class="link-danger">Register</a>
            </p>
          </div>

        </form>
      </div>
      <!-- Copyright -->
      <app-footer></app-footer>
      <!-- Copyright -->
    </div>
  </div>

</section>
